.container {
    max-width: 100vw;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}/* Modificata la larghezza del container */


/* Mobile */
@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }/* da row a column */

    h1 {
        font-size: 3.5rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }/* h1 ingrandito */
    
    h2 {
        font-size: 3rem;
        margin-bottom: 3.5rem;
        margin-top: 1rem;
    }/* h2 ingrandito */

    .lessons .col img,
    .steps .col img {
        height: 300px;
    } /* Aumentate dimensioni immagici delle sections "lessons" e "steps" */
    
    h3 {
        font-size: 2.5rem;
    } /* aumentate dimensioni h3 */
    
    p {
        font-size: 1.5rem;
    } /* aumentate dimensioni di p */ 
    
    .col:last-child .card{
        margin-bottom: 50px;
    } /* ogni ultima carta di ogni sezione ha la metà del mb */
    
    .lessons .col,
    .steps .col,
    .why-us .col-right,
    .why-us .col-left {
        width: 100%;
    } /* aumentata la larghezza delle colonne */
    
    .card {
        margin-bottom: 100px;
    } /* aggiunto margin-bottom alle crads */

    .steps {
        margin: 0;
    } /* Rimosso il margin dalla section "steps" */ 

    .why-us h2 {
        margin-top: 0;
    } /* rimosso il margine ad h2 "why-us" */
    
    .why-us img {
        margin-bottom: 50px;
    } /* mb all'imaggine della section "why-us" */

    section.why-us {
        background-color: #222222;
        margin-bottom: 0;
    } /* cambiato il colore del gb alla sezione "why-us"" e tolto il marin bottom */
}


